name = "scxbin-backend"
main = "server.js"
compatibility_date = "2024-11-15"
compatibility_flags = ["nodejs_compat"]

[env.production]
name = "scxbin-production"

[env.production.vars]
ENVIRONMENT = "production"

[env.development]
name = "scxbin-development"

[env.development.vars]
ENVIRONMENT = "development"

[build]
command = "npm run build"